APP_PORT=8080
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/short_drama?charset=utf8mb4&parseTime=True&loc=Local

MINIO_ENABLED=false
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=short-drama
MINIO_USE_SSL=false
MINIO_PUBLIC_BASE_URL=http://127.0.0.1:9000/short-drama
