APP_PORT=8080
APP_USER=root
APP_GROUP=root

GO_VERSION=1.24.6
GO_PROXY=http://mirrors.cloud.aliyuncs.com/goproxy/,https://goproxy.cn,direct
GO_SUMDB=off

MYSQL_IMAGE=mysql
MYSQL_TAG=8.4.8
MYSQL_ROOT_PASSWORD=123456
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=short_drama
MYSQL_APP_USER=short_drama
MYSQL_APP_PASSWORD=123456
MYSQL_DATA_DIR=/opt/short-drama/mysql/data

MINIO_IMAGE=quay.io/minio/minio
MINIO_TAG=latest
MC_IMAGE=quay.io/minio/aistor/mc
MC_TAG=RELEASE.2026-04-21T04-26-49Z
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=12345678
MINIO_BUCKET=short-drama
MINIO_DATA_DIR=/opt/short-drama/minio/data
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

PUBLIC_IP=8.140.212.121
BACKEND_PUBLIC_SCHEME=http
MINIO_PUBLIC_SCHEME=http
ENABLE_UFW=true
